body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8F5F2;
    color: #2C2C2C;
    margin: 0;

}

header{
    background-color: #F8F5F2;
    text-align: center;
    padding: 20px;
}


header h1{
    margin: 0;
    font-size: 32px;
    color: #2E3A2F;

}

nav{
    background-color: #2E3A2F;
    padding: 15px;

}

nav ul{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li{
    display: inline;
    margin: 20px;

}


nav ul li a{
    color: #F8F5F2;
    text-decoration: none;
    font-size: 20px;

}


nav ul li a:hover{
    color: greenyellow;
}





















footer{
    background-color: #2E3A2F;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;

}

footer p{
    margin: 5px;
    font-size: 20px;
    color: white;

}